@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-ft-dark: #1A2850;
  --color-ft-light: #01A2E9;
  --color-ft-secondary-1: #2D3E50;
  --color-ft-secondary-2: #475569;
  --color-ft-neutral: #94A3B8;
}

body {
  font-family: 'Avenir Next', sans-serif;
  background-color: #f8fafc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', sans-serif;
}
